<html lang="en">
<head>
    <title>Hacking with Spring boot</title>
</head>
<body>
    <p>
        Welcome Spring boot.
        This is served reactively.
    </p>
    <table>
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </thead>
        <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.itemName}"></td>
                <td th:text="${item.itemPrice}"></td>
                <td>
                    <form method="post" th:action="@{'/cart/add/' + ${item.id}}">
                        <input type="submit" value="Add to Cart" />
                    </form>
                </td>
                <td>
                    <form th:method="delete" th:action="@{'/cart/delete/' + ${item.id}}">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr th:each="cartItem : ${cart.cartItems}">
                <td th:text="${cartItem.item.id}"></td>
                <td th:text="${cartItem.item.itemName}"></td>
                <td th:text="${cartItem.quantity}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>